.footer {
  text-align: center;
  min-height: 50px;
  line-height: 50px;
  margin-top: 50px;
  margin-bottom: 1em;
}

.footer > a {
  margin: 0 10px;
  transition: 0.3s;

  :hover {
    opacity: 0.8;
  }
}

.footer img {
  height: 30px;
  width: 30px;
}
